{% extends 'base.html.twig' %}

{% block header %}Formation {% endblock %}

{% block contenu %}
    <h1>Formations </h1>


        <tbody>
        {% for formation in formations %}
        <div class="card my-3">
          <h5 class="card-header"> {{formation.intitule}}</h5>
          <div class="card-body">
            <h5 class="card-title">{{formation.niveau}}</h5>
            <p class="card-text">{{formation.ville}}</p>
            <a href="{{ path('formation_show', {'id': formation.id}) }}" class="btn btn-dark">voir</a>
            {% if is_granted('ROLE_ADMIN') %}
          <a href="{{ path('formation_show', {'id': formation.id}) }}" class="btn btn-secondary">modifier</a>
            {% endif %}

          </div>
        </div>
        {% else %}
        <h3> Aucune formation n'existe</h3>
        {% endfor %}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('formation_new') }}"><button type="button" class="btn btn-primary">Créer</button></a>
        {% endif %}
{% endblock %}
